In [20]:
import sqlite3
import pandas as pd

# 1) Connect to your local copy of the SQLite DB
db_path = "FPA_FOD_20170508.sqlite"    # or wherever you have it
conn    = sqlite3.connect(db_path)

# 2) Pull only the columns you care about
fires = pd.read_sql_query("""
    SELECT FIRE_YEAR,
           STATE,
           LATITUDE,
           LONGITUDE,
           FIRE_SIZE,
           STAT_CAUSE_DESCR
    FROM Fires
""", conn)

conn.close()

# 3) Define contiguous-US filters
contiguous_states = [
    'AL','AZ','AR','CA','CO','CT','DE','FL','GA','ID','IL','IN','IA','KS',
    'KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ',
    'NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT',
    'VT','VA','WA','WI','WV','WY'
]
lat_min, lat_max = 24.5, 49.5
lon_min, lon_max = -124.8, -66.9

# 4) Filter
us_fires = fires[
    fires.STATE.isin(contiguous_states) &
    fires.LATITUDE.between(lat_min, lat_max) &
    fires.LONGITUDE.between(lon_min, lon_max)
].copy()

# 5) Export for D3
us_fires.to_csv("us_contiguous_wildfires.csv", index=False)

# 6) Quick sanity check
print("Total points:", len(us_fires))
us_fires.head()

Total points: 1835580

   FIRE_YEAR STATE   LATITUDE   LONGITUDE  FIRE_SIZE STAT_CAUSE_DESCR
0       2005    CA  40.036944 -121.005833       0.10    Miscellaneous
1       2004    CA  38.933056 -120.404444       0.25        Lightning
2       2004    CA  38.984167 -120.735556       0.10   Debris Burning
3       2004    CA  38.559167 -119.913333       0.10        Lightning
4       2004    CA  38.559167 -119.933056       0.10        Lightning

In [22]:
import pandas as pd

# 1) Load your filtered US wildfires CSV
df = pd.read_csv("us_contiguous_wildfires.csv")

# 2) Choose your stratification column (e.g. FIRE_YEAR)
stratum_col = "FIRE_YEAR"

# 3) Pick a fraction or a fixed n per stratum
fraction = 0.25   # keep 50% of each yearâ€™s records
# OR
# n_per_stratum = 1000  # keep up to 1000 per year

# 4) Do the stratified sampling
# Option A: fraction of each group
sampled = (df
    .groupby(stratum_col, group_keys=False)
    .apply(lambda g: g.sample(frac=fraction, random_state=42))
)

# Option B: fixed max per group
# sampled = (
#     df.groupby(stratum_col, group_keys=False)
#       .apply(lambda g: g.sample(n=min(len(g), n_per_stratum), random_state=42))
# )

# 5) Check sizes
print("Original total:", len(df))
print("Sampled total: ", len(sampled))
print("Per-group counts:\n", sampled[stratum_col].value_counts().sort_index())

# 6) Export
sampled.to_csv("us_contiguous_wildfires_strat25.csv", index=False)

/var/folders/bz/0wb7mddj17b9v25krnz6rc7w0000gn/T/ipykernel_9756/1492116215.py:18: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=fraction, random_state=42))

Original total: 1835580
Sampled total:  458894
Per-group counts:
 FIRE_YEAR
1992    16852
1993    15276
1994    18824
1995    17760
1996    18711
1997    15177
1998    16980
1999    22216
2000    24010
2001    21415
2002    18635
2003    15805
2004    16503
2005    20617
2006    27596
2007    22600
2008    21056
2009    18826
2010    19116
2011    21737
2012    17908
2013    16024
2014    16829
2015    18421
Name: count, dtype: int64